<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {{>bootstrapCSS}}
    </head>
    <body>
        <div class="container">
            {{>header}}
            <img class="img-thumbnail mx-auto" src="/images/itachi.jpg"></img>
            {{>footer}}
        </div>
    </body>
</html>