<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        {{>header}}
        <img src="/images/robot.png"></img>
        {{>footer}}
    </body>
</html>