<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
        {{>bootstrapCSS}}
    </head>
    <body>
        <div class="container">
            {{>header}}
            <p class="font-weight-light text-center" style="margin: 40px 15px;">{{helptext}}</p>
            {{>footer}}
        </div>
    </body>
</html>