<h1 class="display-2 text-center">{{title}}</h1>

<div>
    <ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="/">Weather</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/about">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/help">Help</a>
    </li>
    </ul>
</div>